<h3>sign in</h3>

<form action="/admin" method="post">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="enter username" name="username">

  <label for="password"> <b>password</b></label>
  <input type="password" name="password" name="password">
  <input type="submit" value="Login" class="btn">
</form>


 <form action="/register" method="post">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="enter username" name="username">

  <label for="password"><b>password</b></label>
  <input type="password" name="password" name="password">
  <input type="submit" value="register" class="btn">
</form> 
