<h2>heyy</h2>
<!-- router.post('/register', async (req , res)=>{
  try {

const { username, password} = req.body;
const hashedPassword = await bcrypt.hash(password, 10)
try{
const user = await User.create({ username, password:hashedPassword })
res.status(201).json({ message: 'User Created', User })
}catch (error) {
if (error.code === 11000) {
res.status(409).json({ message: "user already exist"})
}
res.status(500).json({ message:' internal server error'})

  }


  }catch (error) {
console.log(error)
  }
  
}) -->