 <h2><b>MantyCore.</b></h2>

  <p>Highly motivated Node.js developer with one Year of experience in building scalable and efficient applications. Proficient in JavaScript, Express.js, and MongoDB. Strong understanding of RESTful APIs, microservices architecture, and cloud platforms. Proven ability to learn quickly and adapt to new technologies.</p>


