<div class="author">
  <h1 class="author__heading"> Hi I am Manty</h1>
  <p class="author__body"> web developer & NodeJs Enthusiast </p>
</div>

<img src="/img/hero.jpeg" alt="" class="hero-image" width="981"  height="528">

<section class="articles"> 
  <h2 class="articles__heading"> Latest Posts</h2>

  <ul class="articles-ul">

<% data.forEach(Post => { %>
<li>
  <a href="/post/<%= Post._id %>">
    <span><%= Post.title %></span>
    <span class="articles-list__date"><%= Post.createdAt.toDateString() %></span>
  </a>
</li>
<% }) %>
  </ul>

  <% if (nextPage !== null) { %>
   
<a href="/?page=<%= nextPage %>" class="pagination"> &lt; view older Posts</a>

<% } %>


</section>